#titulo, #navMenu{
  font-family: 'Roboto Slab', serif;
}

.hero.is-primary.is-medium.is-bold.index{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/image.jpg") no-repeat center center fixed;
}

.hero.is-primary.is-medium.is-bold.publicacao{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/image2.jpg") no-repeat center center fixed;
}

.hero.is-primary.is-medium.is-bold.programacao{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/image3.jpeg") no-repeat center center fixed;
}

h1.title.sobre{
  font-family: 'Roboto Slab', serif;
  color: #ffff;
}

h5.subtitle.sobre{
  text-align: justify;
}

p.social a{
  color:rgb(43, 41, 47);
  margin: 0px 5px 0px 5px;
}

p.social a:hover{
  color: rgb(11, 115, 48);
}

.content.keynotes{
  font-size: 20px;
  text-align: justify;
}

.partner-list {
  justify-content: center;
}

.partner-list img{
  margin: 1.6%;
}

.publicacao-sobre {
  margin-top:1.6%;
  margin-bottom:1.6%;
}

.publicacao-sobre p{
  text-align: justify;
}

blockquote.publicacao{
  text-align: justify;
}
